
.button1 {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}
.button1:hover {
    -fx-background-color: transparent;
    -fx-border-color: yellow;
    -fx-text-fill: yellow;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}

.button2 {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.button2:hover {
    -fx-background-color: transparent;
    -fx-text-fill: yellow;
}