._1 { -fx-font-size: 1px; }
._2 { -fx-font-size: 2px; }
._3 { -fx-font-size: 3px; }
._4 { -fx-font-size: 4px; }
._5 { -fx-font-size: 5px; }
._6 { -fx-font-size: 6px; }
._7 { -fx-font-size: 7px; }
._8 { -fx-font-size: 8px; }
._9 { -fx-font-size: 9px; }
._10 { -fx-font-size: 10px; }
._11 { -fx-font-size: 11px; }
._12 { -fx-font-size: 12px; }
._13 { -fx-font-size: 13px; }
._14 { -fx-font-size: 14px; }
._15 { -fx-font-size: 15px; }
._16 { -fx-font-size: 16px; }
._17 { -fx-font-size: 17px; }
._18 { -fx-font-size: 18px; }
._19 { -fx-font-size: 19px; }
._20 { -fx-font-size: 20px; }
._21 { -fx-font-size: 21px; }
._22 { -fx-font-size: 22px; }
._23 { -fx-font-size: 23px; }
._24 { -fx-font-size: 24px; }
._25 { -fx-font-size: 25px; }
._30 { -fx-font-size: 30px; }
._34 { -fx-font-size: 34px; }
._42 { -fx-font-size: 42px; }
._50 { -fx-font-size: 50px; }
._52 { -fx-font-size: 52px; }
