.fontregular {
    -fx-font-family: "Century Gothic";
    /*-fx-font-family: "Tw Cen MT";*/
}
.whiteText {
    -fx-text-fill: #FFFFFF;
}
.yellowText {
    -fx-text-fill: yellow;
}

._1 { -fx-font-size: 1px; }
._2 { -fx-font-size: 2px; }
._3 { -fx-font-size: 3px; }
._4 { -fx-font-size: 4px; }
._5 { -fx-font-size: 5px; }
._6 { -fx-font-size: 6px; }
._7 { -fx-font-size: 7px; }
._8 { -fx-font-size: 8px; }
._9 { -fx-font-size: 9px; }
._10 { -fx-font-size: 10px; }
._11 { -fx-font-size: 11px; }
._12 { -fx-font-size: 12px; }
._13 { -fx-font-size: 13px; }
._14 { -fx-font-size: 14px; }
._15 { -fx-font-size: 15px; }
._16 { -fx-font-size: 16px; }
._17 { -fx-font-size: 17px; }
._18 { -fx-font-size: 18px; }
._19 { -fx-font-size: 19px; }
._20 { -fx-font-size: 20px; }
._21 { -fx-font-size: 21px; }
._22 { -fx-font-size: 22px; }
._23 { -fx-font-size: 23px; }
._24 { -fx-font-size: 24px; }
._25 { -fx-font-size: 25px; }
._26 { -fx-font-size: 26px; }
._27 { -fx-font-size: 27px; }
._28 { -fx-font-size: 28px; }
._29 { -fx-font-size: 29px; }
._30 { -fx-font-size: 30px; }
._31 { -fx-font-size: 31px; }
._32 { -fx-font-size: 32px; }
._33 { -fx-font-size: 33px; }
._34 { -fx-font-size: 34px; }
._35 { -fx-font-size: 35px; }
._36 { -fx-font-size: 36px; }
._37 { -fx-font-size: 37px; }
._38 { -fx-font-size: 38px; }
._39 { -fx-font-size: 39px; }
._40 { -fx-font-size: 40px; }
._41 { -fx-font-size: 41px; }
._42 { -fx-font-size: 42px; }
._43 { -fx-font-size: 43px; }
._44 { -fx-font-size: 44px; }
._45 { -fx-font-size: 45px; }
._46 { -fx-font-size: 46px; }
._47 { -fx-font-size: 47px; }
._48 { -fx-font-size: 48px; }
._49 { -fx-font-size: 49px; }
._50 { -fx-font-size: 50px; }
._51 { -fx-font-size: 51px; }
._52 { -fx-font-size: 52px; }
._53 { -fx-font-size: 53px; }
._54 { -fx-font-size: 54px; }
._55 { -fx-font-size: 55px; }
._56 { -fx-font-size: 56px; }
._57 { -fx-font-size: 57px; }
._58 { -fx-font-size: 58px; }
._59 { -fx-font-size: 59px; }
._60 { -fx-font-size: 60px; }
._61 { -fx-font-size: 61px; }
._62 { -fx-font-size: 62px; }
._63 { -fx-font-size: 63px; }
._64 { -fx-font-size: 64px; }
._65 { -fx-font-size: 65px; }
._66 { -fx-font-size: 66px; }
._67 { -fx-font-size: 67px; }
._68 { -fx-font-size: 68px; }
._69 { -fx-font-size: 69px; }
._70 { -fx-font-size: 70px; }
._71 { -fx-font-size: 71px; }
._72 { -fx-font-size: 72px; }
._73 { -fx-font-size: 73px; }
._74 { -fx-font-size: 74px; }
._75 { -fx-font-size: 75px; }
._76 { -fx-font-size: 76px; }
._77 { -fx-font-size: 77px; }
._78 { -fx-font-size: 78px; }
._79 { -fx-font-size: 79px; }
._80 { -fx-font-size: 80px; }
._81 { -fx-font-size: 81px; }
._82 { -fx-font-size: 82px; }
._83 { -fx-font-size: 83px; }
._84 { -fx-font-size: 84px; }
._85 { -fx-font-size: 85px; }
._86 { -fx-font-size: 86px; }
._87 { -fx-font-size: 87px; }
._88 { -fx-font-size: 88px; }
._89 { -fx-font-size: 89px; }
._90 { -fx-font-size: 90px; }
._91 { -fx-font-size: 91px; }
._92 { -fx-font-size: 92px; }
._93 { -fx-font-size: 93px; }
._94 { -fx-font-size: 94px; }
._95 { -fx-font-size: 95px; }
._96 { -fx-font-size: 96px; }
._97 { -fx-font-size: 97px; }
._98 { -fx-font-size: 98px; }
._99 { -fx-font-size: 99px; }
._100 { -fx-font-size: 100px; }
._101 { -fx-font-size: 101px; }
._102 { -fx-font-size: 102px; }
._103 { -fx-font-size: 103px; }
._104 { -fx-font-size: 104px; }
._105 { -fx-font-size: 105px; }
._106 { -fx-font-size: 106px; }
._107 { -fx-font-size: 107px; }
._108 { -fx-font-size: 108px; }
._109 { -fx-font-size: 109px; }
._110 { -fx-font-size: 110px; }